

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}
.cartao-pokemon {
  display: inline-block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  vertical-align: top;
}
.cartao-pokemon img {
  width: 100px;
}
.nome-pokemon {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}
.info-pokemon {
  text-align: left;
  margin-top: 10px;
}
.info-pokemon p {
  margin: 5px 0;
}
.botoes {
  margin-top: 20px;
  margin-top: 20px;

}
button {
  padding: 10px 20px;
  margin: 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #00000048;
  color: black;
}

.botoes button:nth-last-of-type(1){
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 1s;
  background: linear-gradient(to left, rgb(34, 255, 0) 50%, #ffffff 50%);
  background-position: left;
  background-size: 300% 100%;
}

.botoes button:nth-last-of-type(1):hover{
  background-position: right;
  color: white;

}

.botoes button:nth-last-of-type(2){
  transition: 1s;
  border: 1px solid #00000048;
  background: linear-gradient(to right, #ff0000 50%, #ffffff 50%);
  background-size: 300% 100%;
  background-position: right;
}

.botoes button:nth-last-of-type(2):hover{
  background-position: left;
  color: white;
  border: solid 2px #fff;
}

.container-pokemon{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 10px;
}


#container-pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.card-pokemon {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 30px;
  width: 290px;
  height: 290px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imagem-pokemon {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
